h1{
  color: blue;
}
h2{
  color: green;
  font-family: cursive;
  font-weight: bold;
}
.headlineMinor{
  font-style: italic;
  font-family: fantasy;
}
.headlineColor{
  color: blue;
}
.siteHeader{

}
.siteSection1{

}
.siteSection2{

}
.siteSection3{

}
.siteFooter{
  text-align: center;
  text-decoration: italic;
  color: darkgray;
}
